body {
  background-color: #111010;
}
.custom-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  }

.active-link {
    color: green; /* Change this to the desired color */
  }